#menu{
    margin-bottom: 100px;   /*how update*/
}

.mainTitle{
    font-weight: 700;
    font-size: 30px;
}

.nav {
    background-color: #d6edc2;
    font-weight: bold;
    height: 90px;
}

.navbar-collapse{
    place-content: center;
}

.navItem{
    padding: 30px;
}