.techstack{
    font-weight: 700;
    padding-top: 70px;
    padding-bottom: 70px;
}

.stack-text{
    font-size: 26px;
    color: #315200;
}

.stack-text:after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 2px solid #315200;
  margin: 20px auto;
}

.sub-text {
  margin-bottom: 25px;
}

.categorybox{
  border: 2px solid black;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 20px
}

.cate-nametext{
  margin-top: 5px;
}

.cate-img{
  margin-top: -10px;
}

.stackvalue{
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 2px;
}